* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
}

/* Reset CSS Start ----------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre
, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
a {
    color: inherit;
    text-decoration: none;
}

button,
input,
textarea {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
    padding-left: 0;
    margin-left: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: none;
    box-sizing: none;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2B292D;
    letter-spacing: -0.01em;
}

.button-group {
    margin: 0 auto;
    display: block;
}

.fill-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.6;
    width: 140px;
    height: 48px;
    color: #fff;
    background-color: #3040C4;
    transition: opacity 300ms ease-in-out;
}

.inverted {
    color: #3040C4;
    background-color: #fff;
}

.section-sub-title {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.section-title {
    margin-bottom: 24px;
    font-size: 34px;
    font-weight: 700;
    color: #2B292D;
    line-height: 1.058823529411765;
    letter-spacing: -0.03em;
}

.section-desc {
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #2B292D;
}



/* Landing ****************************************** */
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 154px 0;
    background-color: #FDDED8;
    text-align: center;
    width: 100%;
    height: 568px;
}

.landing .col-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-title {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.05em;
}

.landing-desc {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.375;
    letter-spacing: -0.01em;
}

.landing .button-group {
    display: inline-flex;
}

.fill-button:first-child {
    margin-right: 8px;
}

/* test **************************************************** */
.test {
    padding: 80px 0;
    background-color: #F4F5F7;
}

.test-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.363636363636364;
    letter-spacing: -0.01em;
}

.test-desc {
    font-size: 16px;
    line-height: 24px;
}

.test-desc {
    margin-bottom: 40px;
}


/* Program ************************************************** */
.program {
    background-color: #fff;
    margin: 80px 0;
}

.program-sub-title {
    color: #009B4D;
}

.program .img-box {
    display: block;
    margin: 16px auto 20px;
    margin-bottom: 20px;
    width: 290px;
    height: 291px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px 
    rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: background-color 40ms ease-in,
    box-shadow 400ms ease-in;
}

.program .img-box:hover {
    background-color: #3141c5;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15), 
    0px 11px 55px rgba(0, 0, 0, 0.07);;
}

.program .img-box:hover strong {
    color: #fff;
}


.program .img-box img {
    display: flex;
    margin : 24px auto 16px;
    width: auto;
    height: 195px;
}

.program .img-box strong {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.333333333333333;
    letter-spacing: -0.02em;
    text-align: center;
}

/* Curriculum *************************************** */
.curriculum {
    margin: 40px 0;
}

.curriculum .section-sub-title {
    color: #3040C4;
}

.curriculum .fill-button {
    margin-bottom: 48px;
}

.curriculum img {
    display: none;
}

.curriculum-content {
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.466666666666667;
    letter-spacing: -0.01em;
}

.curriculum-content strong {
    font-weight: 700;
}

/* Banner ************************************* */
.banner {
    padding: 65px 0 40px;
    background-color:#F2F8FA ;
    text-align: center;
}

.banner .img-box {

}

.banner .img-box img {
    margin: auto;
    margin-bottom: 41px;
    display: block;
    width: auto;
    height: 190px;
}

.banner-title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.banner-desc {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.banner input {
    margin: auto;
    display: flex;
    width: 290px;
    height: 48px;
    border-radius: 2px;
    border: none;
}

.banner .banner-email-input {
    margin-bottom: 8px;
    background-color: #FFFFFF;
}
.banner .banner-email-input::placeholder {
    display: flex;
    padding: 12px auto 12px 16px;
    color: #7B7B7E;
  }

.banner .fill-button {
    margin: auto;
    margin-bottom: 8px;
    width: 290px;
    height: 48px;
    border-radius: 2px;
}

.banner .banner-footer {
    font-size: 13px;
    font-weight: 400;
    color: #7B7B7E;
    line-height: 1.538461538461538;
}

.banner .underline {
    color: #3040C4;
    text-decoration: underline;
}

/* Footer ************************************ */
.footer {
    margin: 24px 0;
}

.footer a {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.714285714285714;
    letter-spacing: -0.01em;
    color: #807F81;
}

.footer a:last-child {
    margin-bottom: 0;
}



/* DeskTop ************************************ */
@media (min-width: 768px) {
    .section-sub-title {
        margin-bottom: 16px;
        font-size: 22px;
        line-height: 1.090909090909091;
    }
    
    .section-title {
        margin-bottom: 32px;
        font-size: 56px;
        line-height: 1;
        letter-spacing: -0.03em;
    }
    
    .section-desc {
        margin-bottom: 72px;
        font-size: 22px;
        line-height: 1.454545454545455;
        letter-spacing: -0.01em;
    }

    /* Landing *************************************** */
    .landing {
        padding: 120px 0;
    }

    .landing-title {
        margin-bottom: 32px;
        font-size: 70px;
        line-height: 1.028571428571429;
    }

    .landing-desc {
        font-size: 22px;
        line-height: 1.454545454545455;
        margin-bottom: 32px;
    }

    .button-group {
        margin: 0 auto;
        display: block;
    }

    .fill-button {
        font-size: 18px;
        line-height: 1.555555555555556;
        width: 160px;
        height: 56px;
    }

    .fill-button:first-child {
        margin-right: 16px;
    }

    /* Test ************************************** */    
    .test-title {
        font-size: 26px;
        line-height: 1.307692307692308;
        letter-spacing: -0.04em;
    }
    
    .test-desc {
        font-size: 22px;
        line-height: 1.454545454545455;
    }
    
    .test-desc {
        margin-bottom: 40px;
    }
    
    /* Program ***************************** */

    .program {
        text-align: center;
    }

    .program-sub-title {
        font-size: 22px;
        line-height: 1.090909090909091;
    }

    .program .img-box img {
        display: flex;
        margin : 24px auto 16px;
        width: auto;
        height: 195px;
    }
    
    .program .img-box strong {
        font-size: 20px;
        line-height: 1.090909090909091;
    }

    /* Curriculum ********************************************* */
    .curriculum .section-desc {
        margin-bottom: 72px;
    }

    .curriculum .img-box {
        margin-bottom: 24px;
        width: 450px;
        height: 450px;
    }

    .curriculum img {
        display: block;
        width: 425px;
        height: auto;
    }

    .curriculum-content {
        font-size: 18px;
        line-height: 1.444444444444444;
    }
    
    .curriculum-content strong {
        font-weight: 700;
    }


    /* Banner **************************** */
    .banner .container{
        padding: 0;
    }

    .banner .img-box img {
        display: block;
        margin: 0;
        width: 287px;
        height: 285px;

    }

    .banner .col-12:last-child {
        columns: #2B292D;
        text-align: left;
    }

    .banner-title {
        font-size: 40px;
        line-height: 1;
    }

    .banner-desc {
        font-size: 22px;
        line-height: 1.454545454545455;
    }

    .banner .input-group {
        display: flex;
    }

    .banner .fill-button {
        width: 160px;
        height: 55px;
        display: flex;
        flex-shrink: 0;
    }

    .banner-footer-group {
        display: inline;
    }

    .banner .fill-button {
        height: 56px;
    }

    .banner input {
        margin: 0;
        padding: 0;
        margin-right: 8px;
        display: flex;
        width: 362px;
        height: 56px;
    }
    
    .banner .banner-email-input {
        margin-bottom: 8px;
        background-color: #FFFFFF;
    }
    .banner .banner-email-input::placeholder {
        display: flex;
        padding: 12px auto 12px 16px;
        color: #7B7B7E;
    }

    .banner-footer {
        font-size: 14px;
        line-height: 1.714285714285714;
    }

    .banner .col-12:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Footer *********************************** */
    
    .footer .footer-links {
        display: flex;
    }

    .footer-link {
        margin-right: 16px;
    }

}
